{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "react-hot-loader/babel",
    "relay"
  ]
}