
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

uploads
dist
logs

.DS_Store
.idea
.vscode
docker-compose_dev.yml
logs
package-lock.json
downloads/
tmp/
